In [72]:
##Reverse the list
n=int(input("Enter number: "))
rev=0
while(n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
  print(dig)
  print(rev)
  print(n)
print("The reverse of the number:",rev)

Enter number: 2345
5
5
234
4
54
23
3
543
2
2
5432
0
The reverse of the number: 5432

In [73]:
##Reverse list
m = input("Enter the value: ")
m=list(m)
m.reverse()
print(m)
l = ''.join(map(str,m))
print(l)

Enter the value: 11,12,13,14
['4', '1', ',', '3', '1', ',', '2', '1', ',', '1', '1']
41,31,21,11

In [74]:
##Reverse using inbuilt lib
lisre=[10,11,12,13,17,190]
lisre.reverse()
print(lisre)

[190, 17, 13, 12, 11, 10]

In [76]:
##reversing using slicing
lisre=[10,11,12,13,17,190]
lsre2=lisre[::-1]
print(lsre2)

[190, 17, 13, 12, 11, 10]

In [75]:
#Reverse using function
def solution(x):
    string = str(x)
    
    if string[0] == '-':
        return int('-'+string[:0:-1])
    else:
        return int(string[::-1])
    
print(solution(-231))
print(solution(345))

-132
543

In [79]:
##reverseusing list

n =input("Enter the number")
w = list(n)
w.reverse()
print("list "),w
#k = ",".join(w)
print(w)
l=''.join(map(str, w))
print(l)

Enter the number5432
list
['2', '3', '4', '5']
2345

In [ ]:
##print second max item in a list
list = [1,4,6,8,30, 50]
m = max(list)
list.remove(m)
print(max(list))

30

In [ ]:
##print tables
n = int(input("print the number for the table: "))
for i in range(1,11):
  print(n,"X",i," =",int(n*i))

print the number for the table: 5
5 X 1  = 5
5 X 2  = 10
5 X 3  = 15
5 X 4  = 20
5 X 5  = 25
5 X 6  = 30
5 X 7  = 35
5 X 8  = 40
5 X 9  = 45
5 X 10  = 50

In [ ]:
##prime number or not
n = int(input(("Enter the number: ")))
if n%2 ==0:
  print("Not a prime number")
elif n%3 ==0:
  print("NOt a prime number")
elif n%5 ==0:
  print("NOt a prime number")
elif n%7 ==0:
  print("NOt a prime number")
elif n%9 ==0:
  print("NOt a prime number")
else:
  print("prime number")

Enter the number: 49
NOt a prime number

In [ ]:
list =[2,4,6,7,9,23,67,89]
m=len(list)
print(m)
frst=list[0]
print(list[0])
last=list[m-1]
print(last)
list.remove(last)
print(list)
first.append(list)
print(list)

8
2
89
[2, 4, 6, 7, 9, 23, 67]

NameError: ignored

In [ ]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
  element=int(input("Enter element" + str(x+1) + ":"))
  a.append(element)
  temp=a[0]
a[0]=a[n-1]
a[n-1]=temp
print("New list is:")
print(a)

Enter the number of elements in list:5
Enter element1:23
Enter element2:22
Enter element3:56
Enter element4:23
Enter element5:76
New list is:
[76, 22, 56, 23, 23]

In [ ]:
51%3

0

In [ ]:
##palindrom checker
string=input("Enter string:")
if(string==string[::-1]):
  print("The string is a palindrome")
else:
  print("The string isn't a palindrome")

Enter string:123321
The string is a palindrome

In [ ]:
#vowel=["a","e","i","o","u"] 
target=input("Enter the string ")
if (target.__contains__("a","e","i","o","u")):
  print("contains vowel")

Enter the string towel

TypeError: ignored

In [ ]:
ing = input("Enter the string:")
out= ing[::-1]
print(out)

Enter the string:turtle
eltrut

In [ ]:
sent = input("Enter the text")
sent.split()
print(sent)

Enter the textthis is the way
this is the way

In [ ]:
num1= 10
num2=20
x= num2
y= num1
num1=x
num2=y
print(num1)
print(num2)

20
10

In [ ]:
num= int(input("Enter the number : "))
count=0
if (num>1):
  for i in range(1,num+1):
    if(num%i) == 0:
      count = count+1
  if count == 2:
    print("prime number")
  else:
    print("NOt prime number")

Enter the number : 57
NOt prime number

In [12]:
num= int(input("Enter the number : "))
count=0
factorial=1
if(num<0):
  print("Factorial does not exist for _ve numbers")
elif num == 0:
  print("The factorial is 1")
else:
  for i in range(1,num+1):
    factorial= factorial*i
  print(factorial)

Enter the number : 7
5040

In [19]:
num=int(input("Enter the number: "))
count=0
factorial =1
if num<1:
  print("NO factorial")
elif num==0:
  print("not possible")
else:
  for i in range(1,num+1):
    factorial=factorial*i
print(factorial)

Enter the number: 7
5040

In [17]:
7*6*5*4*3*2*1

5040

In [25]:
n1=0
n2=1
print(n1)
print(n2)
for i in range(2,10):
  sum=n1+n2
  print(sum)
  n1=n2
  n2=sum

0
1
1
2
3
5
8
13
21
34

In [39]:
arra=[1,2,3,4,5]
num=len(arra)
sunm=0
print(num)
for i in arra:
  sunm=i[]  print(sunm)

5
1
2
3
4
5

In [49]:
arr=[1,2,3,4,5]
n1= arr[0]
n2=len(arr)
print(n2)
print(n1)
n3=arr[n2-1]
arr[0]=n3
print(arr)
arr[n2-1]=n1
print(arr)

5
1
[5, 2, 3, 4, 5]
[5, 2, 3, 4, 1]

In [50]:
arr =[1,2,3,4,5]
arr[0],arr[-1]=arr[-1],arr[0]
print(arr)

[5, 2, 3, 4, 1]

In [55]:
arr=[1,2,3,4,5]
pos1=int(input("Input the position to swap:"))
pos2=int(input("Input the position to swap:"))
new=arr[pos2]
new1=arr[pos1]
arr[pos1]=new
arr[pos2]=new1
print(arr)

Input the position to swap:3
Input the position to swap:2
[1, 2, 4, 3, 5]

In [56]:
arr=[1,2,3,4,5]
pos1=int(input("Input the position to swap:"))
pos2=int(input("Input the position to swap:"))
arr[pos1],arr[pos2]= arr[pos2],arr[pos1]
print(arr)

Input the position to swap:2
Input the position to swap:4
[1, 2, 5, 4, 3]

In [63]:
lisr=["geeks", "rem","geeks","rad", "geeks"]
word= "geeks"
n=2
count=0
for i in range(0,len(lisr)-1):
  if lisr(i)==word:
    count=count+1
    if(count==n):
      del (lisr[i])
print(lisr)

TypeError: ignored

In [65]:
lis=[1,2,3,4,5,6,7,8,9]
ele=4
flag=0
for i in lis:
  if i ==ele:
    print("exists in the list")
    flag=1
    break
if(flag==0):
  print("not found")

exists in the list

In [67]:
##find element in a list
lis=[1,2,3,4,5,6,7,8,9]
ele=40
if ele in lis:
  print("exists")
else:
  print("not found")

not found

In [71]:
##clear or delete list
lis=[1,2,3,4,5,6,7,8,9]
print(lis)
print(lis.clear())
lis*=0
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
None
[]

In [81]:
##copy a list
lisf=[1, 2, 3, 4, 5, 6, 7, 8, 9]
mylisf=lisf[:]
mylisf1=lisf.copy()
print(mylisf)
print(mylisf1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
lisf=[1, 2, 3, 4, 5, 6, 7, 8, 9]
lisfcopy=[i for i in lisf]
print(lisfcopy)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
lisf=[1, 2, 3, 4, 5, 6, 7, 8, 9]
mylif=[]
for i in lisf:
  mylif.append(i)
print(mylif)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
lisf=[1, 2, 3, 4, 5, 6, 7, 8, 9,6,8,8,9,5]
x=8
count=0
for ele in lisf:
  if(ele==x):
    count=count+1
print("contains ",count)
print("{} has occured {} times".format(x,count))
print("{} has occured {} times".format(x,lisf.count(x)))

contains  3
8 has occured 3 times
8 has occured 3 times

In [94]:
from collections import Counter
lisf=[1, 2, 3, 4, 5, 6, 7, 8, 9,6,8,8,9,5]
x=9
dic=Counter(lisf)
print(dic[9])

2

In [99]:
## add a list
lisf=[1, 2, 3, 4, 5, 6, 7, 8, 9,6,8,8,9,5]
total=0
for i in range(0,len(lisf)):
  total=total+lisf[i]
print(total)

81

In [97]:
lisf=[1, 2, 3, 4, 5, 6, 7, 8, 9,6,8,8,9,5]
sund= sum(lisf)
print(sund)

TypeError: ignored

In [98]:
##multiply the list
lisn=[1, 2, 3, 4, 5, 6,5]
resu=1
for i in range(1,len(lisn)):
  resu=resu*i
print(resu)

720

In [ ]:
##multiply list
lisn=[1, 2, 3, 4, 5, 6,5]

In [101]:
lisn=[1, 2, 3, 4, 5, 6,5]
print(min(lisn))
print(max(lisn))

1
6

In [102]:
lisn=[1, 2, 3, 4, 5, 6,5]
lisn.sort()
print(lisn)

[1, 2, 3, 4, 5, 5, 6]

In [104]:
lisn=[1, 2, 3, 4, 5, 6,50,450]
lisn.sort()
print(lisn[-1])
print(lisn[-2])

450
50

In [109]:
##palindrome
pali=input("Enter the string")
if pali[:]==pali[::-1]:
  print("it is palindrome")
else:
  print("Not palindrome")

Enter the string123321
it is palindrome

In [114]:
##Reverse a list or string sentence
dfstr="this is a fine day"
words=dfstr.split(" ")
print(words)
words.reverse()
print(words)
words=' '.join(words)
print(words)

['this', 'is', 'a', 'fine', 'day']
['day', 'fine', 'a', 'is', 'this']
day fine a is this

In [ ]:
##findsubstring
fdstr="this can be a fine day"
sub_str="fine"
print(fdstr.find(sub_str))
if(fdstr.find(sub_str)==-1):
  print("Not Found")
else:
  print("found")

In [115]:
fdstr="this can be a fine day"
sub_str="fine"
print(fdstr.__contains__(sub_str))

True

In [117]:
##find length of the string
ftrstr=input("Enter the string value:")
counter=0
for i in ftrstr:
  counter=counter+1
print(counter)

Enter the string value:frontier communications
23

In [118]:
ftrstr=input("Enter the string value:")
print(len(ftrstr))

Enter the string value:frontier
8

In [140]:
import re
ftrst="this is @c@ompl#c@t3d day"
regex=re.compile('[@_!#$%^&*()<>?/\|}{~:]')
count=0
for i in range(0,len(ftrst)):
    count=count+1
    
    if (regex.search(i)==None):
      print("NO Special characters")
    else:
      print("contains character")
    print(count)

TypeError: ignored